.intro-container {
  width: 100%;
}

h1 {
  width: 100%;
  margin: 15px auto 0px auto;
  justify-content: center;
}

#first-look {
  width: 100%;
}

.picture-holder {
  display: flex;
  justify-content: center;
}

#profilepic {
  width: 90%;
  margin: 20px 10%;
  border: 10px ridge #a7a7a7;
}

#introduction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: 2%;
}

#title {
  text-align: center;
  font-size: 30px;
  margin: auto;
  width: fit-content;
}

#links {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

#bio {
  align-self: center;
  width: 90%;
  text-align: center;
  margin-top: 3%;
  text-align: center;
}

/* Mobile Styles */
@media only screen and (max-width: 500px) {
  h1 {
    font-size: 1.75em;
  }
  
  #introduction {
    margin-bottom: 0;
  }

  #links {
    height: fit-content;
  }

  #links p {
    align-self: center;
    width: 90%;
    text-align: center;
    margin-bottom: 3px;
  }
}

/* TODO */
/* Fix 800 to 500 cause the picture is werid at those ranges*/

/* Desktop Styles */
@media only screen and (min-width: 501px) {
  .page {
    flex-direction: row;
    justify-content: flex-start;
  }
  
  h1 {
    width: 66%;
    margin: 30px auto;
  }

  #first-look {
    display: flex;
    order: 1;
  }

  .picture-holder {
    justify-content: left;
    order: 1;
    flex: 1;
  }
  
  #profilepic {
    justify-content: right;
    width: 20em;
    border: 10px ridge #838383;
    margin: 20px 30px;
  }
  
  #introduction {
    margin-left: 8%;
    margin-top: 50px;
    flex: 1;
  }

  #title {
    font-size: 55px;
    margin: 10px auto 0;
  }

  #links {
    justify-content: center;
    flex-direction: row;
    flex: 1;
    order: 2;
  }

  p {
    width: 90%;
    padding: auto 10%;
    text-align: center;
    margin : 10px 50px;
    text-align: center;
    overflow-wrap: normal;
  }

  #bio {
    width: 70%;
  }

  .programming-langs-link {
    margin-top: 30px;
    text-align: right;
  }
  
  .former-projects-link {
    margin-top: 30px;
    text-align: left;
  }

}