* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.menu {
	height: 100px;
	background-color: #B2D6FF;    /* Medium blue */
}

.sidebar {
	float: left;
	height: 300px;
	width: 200px;
	background-color: #F09A9D;    /* Red */
}

.content {
	float: left;
	width: 650px;
	height: 500px;
	background-color: #F5CF8E;    /* Yellow */
}

.footer {
	overflow: hidden;
	background-color: #D6E9FE;    /* Light blue */
}

.page {
	width: 900px;
	margin: 0 auto;
}

.container {
	background-color: #EAEDF0;
	overflow: hidden;
}

.column {
  float: left;
  width: 31%;
  margin: 20px 1.15%;
  height: 160px;
  background-color: #B2D6FF;    /* Medium blue */
}
