* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  margin: 0px 0px 20px;
  padding: 0px;
  background-color: #434649;
  width: 100%;
  position: fixed;
  top: 0;
  font-family: Georgia;
  justify-content: flex-start;
}

.navbar a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar a:hover {
  background-color: #054A29;
}

.navbar a:active {
  background-color: #3FA34d;
  text-shadow: none;
}

/* TODO
  fix nav bar on mobile so all options take up the whole nav bar
  remove if using a different nav bar

*/