.page {
  margin-top: 60px;
  overflow: hidden;
  font-size: 1em;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

.intro-container {
  width: 100%;
}