body {
  font-size: 20px;
  background-color: #e0e0e0;
}

.page {
  margin-top: 60px;
  overflow: hidden;
  font-size: 1em;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

.page-title {
  width: 100%;
}

.page-title h1 {
  text-align: center;
  margin: 10px auto 0px auto;
}

a {
  color: #3FA34D;
}

a:visited {
  color: #198b56;
}

footer {
  background-color: #a9aca7;
  height: auto;
  width: 100%;
  padding-left: .5%;
  padding-bottom: 5px;
  font-size: small;
}

.footer-container {
  height: auto;
  position: fixed;
  width: 100%;
  bottom: 0;
}

/* Mobile Styles */
@media only screen and (max-width: 500px) {
  .desktop {
    display: none;
  }

  .page-title h1 {
    font-size: 1.75em;
  } 
}

/* Desktop Styles */
@media only screen and (min-width: 501px) {
  .mobile {
    display: none;
  }

  footer {
    font-size: large;
  }
  
}